body{
     width:400px;
}
header{
    z-index: 3;
    background-color: #1565c0;			 
    color: #ffffff;
    padding: 10px;
    width: 100%;
    top: 0%;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.fa{
    position: fixed;
    margin-top: 15px;
    cursor: pointer;
}
.fa-code {
    left: 5%;
}
.fa-star {
    left: 15%;
}